@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#3C4767;
}
#head {
    height: 50px;
}
.main-logo {
    width: 100px;
    height: 50px;
    margin-left: 20px;
    float: left;
}
.username {
    color: #FFF;
    padding-top: 20px;
}
.down-arrow {
    display: inline-block;
    vertical-align: middle;
    color: #FFF;
    line-height: 1;
    width: 0.5em;
    height: 0.5em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
    margin-left: 0.5em;
    margin-right: 20px;
}
#menu-toggle {
    text-align: right;
}
.menu {
    background-color: #FFF;
    width: 200px;
    display: none;
    position: fixed;
    top: 50px;
    right: 0;
    list-style: none;
}
.menu li {
    text-align: center;
    border: 1px solid #3C4767;
}
.menu li :hover {
    background-color: #de563c;
    color: #FFF;
}
.menu li a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 200px;
    display: block;
    color: black;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
    /* padding-bottom: 100px; */
}


/*フォロー&フォロワーリスト*/
#confirm {
    font-size: 0.8rem;
    border-bottom: 1px solid #6C6C6C;
    margin-bottom: 20px;
}
.confirm-name {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 10px;
}
.confirm-title {
    float: left;
    margin-left: 10px;
}
.confirm-number {
    text-align: right;
    margin-bottom: 10px;
}
.btn a {
    display: block;
    width: 120px;
    color: #FFF;
    background-color: #3C4767;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.8rem;
}
.confirm-follow a {
    margin: 0 0 0 auto;
    margin-bottom: 10px;
}
.confirm-search a {
    margin: auto;
}


/*INDEX*/
form {
    border-bottom: 3px solid #d7d7d7;
}
.post_face {
    margin: 10px;
    margin-bottom: 25px;
    border-radius: 50%;
}
.post_input {
    width: 75%;
    height: 80px;
    border: none;
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: 0;
}
.post_submit {
    margin-bottom: 5px;
    border: 0px;
    width: 41px;
    height: 36px;
    background: url(../images/post.png) no-repeat;
}
